.idea/
/.gradle/
/bin/
/build/
/com.test.tar.gz
/hsqldbfastsol/
/output.sql
/sample.json
/sample2.json
/out/
/hsqldb/
/gradle/
/EPTFAssignment.solver.FasterSolution.class
/EPTFAssignment.solver.ServerEvent.class
/com.sun.jmx.remote.internal.ServerCommunicatorAdmin$Timeout.class
/com.test.iml
/mydb.db
/mydb.db-journal
